<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <link rel="stylesheet" href="styles/dashboard.css">
</head>
<body>
<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar">
        <h4 class="mb-4">Ziyokor LMS</h4>
        <a href="#"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
        <a href="student-dashboard.html"><i class="fa-solid fa-users"></i> O'quvchilar</a>
        <a href="#"><i class="fa-solid fa-layer-group"></i> Guruhlar</a>
        <a href="#"><i class="fa-solid fa-book"></i> Kurslar</a>
        <a href="#"><i class="fa-solid fa-user-tie"></i> Xodimlar</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <h2 class="mb-4">Dashboard</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card p-3">
                    <h5>O'quvchilar soni</h5>
                    <h3 id="count-student">Loading...</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Muzlagan o'quvchilar</h5>
                    <h3 id="frozen-students">Loading...</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Guruhlar soni</h5>
                    <h3 id="count-group">Loading...</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Xodimlar soni</h5>
                    <h3 id="employees">Loading...</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Kurslar soni</h5>
                    <h3 id="courses">Loading...</h3>
                </div>
            </div>
        </div>
        <!--Chart-->
        <div class="chart">
            <div class="bg-white p-5 rounded-xl shadow mb-5" >
                <canvas id="studentsChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="js/dashboard.js"></script>
</body>
</html>
